backcall
certifi
charset-normalizer
colorama
cycler
decorator
fonttools
idna
imutils
ipython
jedi
kiwisolver
matplotlib
matplotlib-inline
numpy
opencv-python
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
psutil
Pygments
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
six
torch
torchvision
tqdm
traitlets
typing-extensions
urllib3
wcwidth
